@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Kanit&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right,black,grey);
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}
.calculator-grid button{
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid grey;
    outline: none;
    background-color: rgb(211, 211, 211);
}
.calculator-grid button:hover{
    background-color: aliceblue;
}
.span-two{
    grid-column: span 2;
}
.output{
    display: flex;
    grid-column: span 4;
    background-color: rgb(45, 43, 43);
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.previous-operand{
    color: rgb(187, 181, 181);
    font-size: 1.5rem;
}
.current-operand{
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}